* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    max-width: 1366px;
    margin: 0 auto;
}

header {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 12px #0052E01A;
}

.container-fluid, .container {
    margin-right: auto;
    margin-left: auto;
}

/*.container-fluid {*/
    /*padding-right: var(--outer-margin, 2rem);*/
    /*padding-left: var(--outer-margin, 2rem);*/
/*}*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}


/* Main nav */
.nav {
    display: flex;
    flex-direction: row;
    padding: 12px 0 12px 22px;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    padding-right: 21px;
}

.main-nav {
    float: right;
    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin-left: 48px;
}

.main-nav li:nth-last-child(2), li:nth-last-child(1){
    margin-left: 29px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    text-decoration: none;
    text-align: left;
    font-weight: 500;
    color: #363F5A;
}

.logo {
    width: 201px;
    height: 46px;
    background: transparent url('img/Comp-Logo-General.svg') 0% 0% no-repeat padding-box;
}

.sign-in {
    background: transparent linear-gradient(180deg, #5690FF 0%, #387DFF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 9px #387DFF80;
    border-radius: 20px;
    width: 113px;
    height: 40px;
    text-align: center;
    font-weight: 500;
    font-size: 87.5%;
    color: #FFFFFF;
}

.caret {
    background: transparent url('img/Shape.svg') 0% 0% no-repeat padding-box;
    margin-left: 24px;
    width: 10px;
    height: 7px;
}

.lang {
    display: flex;
    align-items: center
}

/* First section  */

.bold-heading {
    margin-top: 60px;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: #252E48;
}

.number {
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    color: #387DFF;
}

.bold-text {
    text-align: center;
    font-size: 112.5%;
    font-weight: 700;
    color: #545F7E;
    margin-top: 10px;
}

.users-quantity {
    display: flex;
    justify-content: center
}

.amount {
    width: fit-content;
    position: relative;
}

.amount svg {
    position: absolute;
    left: 11px;
    top: 1px;
}

.search {
    width: 100%;
    height: 453px;
}

.search img {
    height: 100%;
    width: 100%;
}

.heading-box {
    background: transparent url('img/bg.svg') 0% 0% no-repeat padding-box;
    height: 636px;
    background-size: cover;
}

.heading-box h2{
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    line-height: 38px;
    color: #FFFFFF;
}

.mobile {
    display: none;
}

.video-box {
    position: relative;
    top: 0;
    left: 0;
}

.video-box img {
    display: block;
    margin: 52px auto 0 auto;
}

.video-text {
    position: relative;
    top: 0;
    left: 0;
}
.video-play-button {
    position: absolute;
    top: 44%;
    left: 47%;
}

.design-pro {
    padding-right: 135px
}

.design-pro h1 {
    text-align: left;
    font-size: 35px;
    font-weight: 700;
    line-height: 43px;
    color: #387DFF;
}

.design-pro p {
    text-align: left;
    font-weight: 500;
    line-height: 24px;
    color: #363F5A;
}

.note-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 26px;
}

.title h1 {
    text-align: center;
    font-weight: 700;
    line-height: 40px;
    color: #387DFF;
}


.animation-section {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divider {
    width: 50px;
    height: 6px;
    margin: 30px 0 30px 0;
}

.green-divider {
    background: #4FDC6F 0% 0% no-repeat padding-box;
}

.blue-divider {
    background: #4FCEFF 0% 0% no-repeat padding-box;
    margin: 30px auto;
}

.light-orange {
    background: #E79E00 0% 0% no-repeat padding-box;
}

.orange-divider {
    background: #F37C6A 0% 0% no-repeat padding-box;
}

.images .images-row1 img, .images .images-row3 img{
    width: 106%;
    margin-left: -41px;
}

.images .images-row2 img {
    width: 132%;
    margin-left: -234px;
}

.design-section {
    padding-top: 45px;
    padding-bottom: 44px;
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #F6FAFF 16%, #F6FAFF 89%, #F6FAFF 100%) 0% 0% no-repeat padding-box;
}

.designs {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.design-section p {
    text-align: center;
    font-size: 112.5%;
    font-weight: 600;
    line-height: 24px;
    color: #545F7E;
}

.design-title {
    padding-top: 30px;
}

.promotional {
    background: transparent linear-gradient(180deg, #938BFF 0%, #7169DD 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px #7169DD33;
    border-radius: 100px;
    width: 107px;
    height: 107px;
}

.direction {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.intros {
    background: transparent linear-gradient(180deg, #4FCEFF 0%, #00ADF0 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px #387DFF33;
    border-radius: 100px;
    width: 107px;
    height: 107px;
}

.slideshow {
    background: transparent linear-gradient(180deg, #E79E00 0%, #F37C6A 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px #F37C6A33;
    border-radius: 100px;
    width: 107px;
    height: 107px;
}

.music {
    background: transparent linear-gradient(180deg, #6BEB88 0%, #4FDC6F 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px #4FDC6F33;
    border-radius: 100px;
    width: 107px;
    height: 107px;
}

.presentation {
    background: transparent linear-gradient(180deg, #5690FF 0%, #1C6AFD 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px #387DFF33;
    border-radius: 100px;
    width: 107px;
    height: 107px;
}

.algorithms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 160px;
}

.algorithms .img img{
    /*background: transparent url('img/machine learning illsutration.png') 0% 0% no-repeat padding-box;*/
    width: 535px;
    height: 256px;
}

.algorithms .divider {
    background: #4FDC6F 0% 0% no-repeat padding-box;
}

.algorithms h1 {
    text-align: left;
    font-weight: 700;
    font-size: 200%;
    line-height: 40px;
    color: #766DE8;
}

.algorithms p  {
    text-align: left;
    font-weight: 500;
    color: #363F5A;
    margin-bottom: 30px;
}

.algorithms button {
    width: 235px;
    height: 60px;
    background: transparent linear-gradient(180deg, #FFA330 0%, #F07379 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 9px #F37C6C80;
    border-radius: 30px;
    text-align: center;
    font-size: 112.5%;
    font-weight: 500;
    color: #FFFFFF;
}

.effective {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 240px 0 100px 0;
}

.effective h1 {
    text-align: left;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #387DFF;
}

.effective p {
    text-align: left;
    font-weight: 500;
    line-height: 24px;
    color: #363F5A;
}

.effective .img img{
    /*background: transparent url('img/website illustration_urish.svg') 0% 0% no-repeat padding-box;*/
    width: 441px;
    height: 327px;
    margin-left: 190px;
}

.top-list {
    padding-top: 100px;
    padding-bottom: 65px;
    background: #387DFF 0% 0% no-repeat padding-box;
    position: relative;
}

.top-list h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
    color: #FFFFFF;
}

.top-list p {
    text-align: center;
    font-weight: 600;
    line-height: 24px;
    color: #FFFFFF;
}

.top-list .divider {
    background: transparent url('img/Rectangle 7 Copy 33.svg') 0% 0% no-repeat padding-box;
}

.top-list-illustration {
    background: transparent url('img/illustration_urish.svg') 0% 0% no-repeat padding-box;
    position: absolute;
    width: 239px;
    height: 227px;
    bottom: 39px;
    left: 30px;
}

.products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: transparent url('img/Union 14.svg') 0% 0% no-repeat padding-box;
    background-size: cover;
    height: 392px;
}

.products div {
    width: 240px;
    height: 90px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 12px #0052E01A;
    border-radius: 10px;
    margin-right: 20px;
}

.product-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.canvas .img {
    width: 370px;
    height: 522px;
    margin-right: 120px;
    background: transparent url('img/canva.svg') 0% 0% no-repeat padding-box;
    position: relative;
}

.canvas .img .abs-img {
    position: absolute;
    background: transparent url('img/white bg (1).svg') 0% 0% no-repeat padding-box;
    border-radius: 10px;
    width: 480px;
    height: 315px;
    top: 47px;
    left: -68px;
}
.canvas h1 {
    text-align: left;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: #387DFF;
}

.canvas p {
    text-align: left;
    font-weight: 600;
    line-height: 24px;
    color: #363F5A;
}

.canvas-text {
    padding-bottom: 115px;
}

.canvas .line {
    width: 48px;
    height: 0px;
    border: 1px solid #CFE0FF;
}

.benefits-section {
    margin-top: 140px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.benefits-section h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: #766DE8;
}

.benefits-section p {
    color: #545F7E;
    font-weight: 600;
}

.benefits-section img {
    margin-top: 61px;
}

.youtube-videos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 192px;
    position: relative;
}

.youtube-videos .divider {
    background: #F37C6A 0% 0% no-repeat padding-box;
}

.youtube-videos h1{
    font-size: 32px;
    color: #387DFF;
}

.youtube-videos .right-img {
    position: absolute;
    width: 231px;
    height: 191px;
    background: transparent url('img/illustration_urish(1).svg') 0% 0% no-repeat padding-box;
    top: 101px;
    right: 0;
}

.youtubers {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.youtube-box {
    position: relative;
    width: 407px;
    height: 230px;
    background: transparent url('img/Screen Shot 2019-05-24 at 17.34.45.png') 0% 0% no-repeat padding-box;
    border-radius: 15px;
}

.play-video {
    background: transparent url('img/XMLID_823_.svg') 0% 0% no-repeat padding-box;
    position: absolute;
    width: 83px;
    height: 58px;
    top: 40%;
    right: 38%;
}

.review-section {
    position: relative;
    background: transparent linear-gradient(180deg, #F5FAFE00 0%, #F5FAFE 14%, #EEF5FF 100%) 0% 0% no-repeat padding-box;
    padding-top: 165px;
}

.review-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.review-box h1 {
    font-size: 32px;
    font-weight: 700;
    color: #387DFF;
}

.review-box .user-review {
    width: 730px;
    height: 350px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 12px #0052E01A;
    border-radius: 10px;
}

.user-review {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.user-review img {
    width: 145px;
    height: 145px;
    margin-bottom: 34px;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile h6 {
    font-size: 112.5%;
    font-weight: 700;
    
    color: #3379FF;
}

.profile p {
    text-align: center;
    font-size: 87.5%;
    font-weight: 500;
    line-height: 18px;
    color: #545F7E;
}

.text-box {
    margin-left: 94px;
}

.text-box p {
    text-align: left;
    font-weight: 500;
    line-height: 22px;
    color: #363F5A;
}

.points {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 53px;
    padding-bottom: 83px;
}

.points div:first-child {
    background: #3379FF 0% 0% no-repeat padding-box;
}

.points div {
    background: #CFE0FF 0% 0% no-repeat padding-box;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 20px;
}

footer {
    background: #387DFF 0% 0% no-repeat padding-box;
    height: 775px;
}


footer h1 {
    text-align: center;
    font: Bold 20px/24px Montserrat;
    color: #FFFFFF;
    
}

.subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.subscription p {
    padding-top: 18px;
    font-size: 87.5%;
    font-weight: 500;
    
    color: #FFFFFF;
}

.links-box {
    display: flex;
    justify-content: space-between;
    margin-top: 63px;
    padding-bottom: 53px;
}

.link-items {
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

.link-items a {
    font-size: 87.5%;
    font-weight: 400;
    
    color: #FFFFFF;
    text-decoration: none;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social p {
    font-size: 87.5%;
    font-weight: 500;
    color: #FFFFFF;
}

.social-media svg {
    margin-left: 27.5px;
}

.subscription .name {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DEE3F0;
    border-radius: 30px;
    height: 40px;
    padding: 0 20px;
    color: #7683A8;
    text-align: left;
    margin: 0 20px 0 0;
    cursor: text;
    box-sizing: border-box;
    font-size: 87.5%;
}

.subscription .email {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DEE3F0;
    border-radius: 30px;
    width: 300px;
    height: 40px;
    font-size: 87.5%;
    padding: 0 20px;
    color: #7683A8;
}

.subscription button {
    font-size: 87.5%;
    width: 130px;
    height: 40px;
    padding: 0 23px;
    font-weight: 400;
    transform: translate(-50px);
    color: #FFFFFF;
    background: transparent linear-gradient(180deg, #FFA330 0%, #F07379 100%) 0% 0% no-repeat padding-box;
    border-radius: 20px;
}

.contact-us {
    margin-top: -63px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-us button {
    background: transparent linear-gradient(180deg, #E79E00 0%, #F37C6A 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #F37C6A4D;
    border-radius: 20px;
    width: 92px;
    height: 31px;
    text-align: center;
    font-size: 81.25%;
    font-weight: 500;
    color: #FFFFFF;
}

.contact-us a {
    text-decoration: none;
    color: #387DFF;
}

.contact-us p {
    color: #363F5A;
    font-weight: 500;
    text-align: center;
    line-height: 26px;
}


.alternative {
    margin-top: 26px;
    display: flex;
    flex-direction: row;
}


.alternative p {
    color: #363F5A;
    font-size: 87.5%;
    font-weight: 500;
}

.review-illustration {
    width: 336px;
    height: 317px;
    background: transparent url('img/illustration_urish(2).svg') 0% 0% no-repeat padding-box;
    top: 40px;
    left: -68px;
    position: absolute;
}

.quotes-img {
    position: absolute;
    width: 156px;
    height: 130px;
    bottom: 82px;
    right: 295px;
    background: transparent url('img/quotes.svg') 0% 0% no-repeat padding-box;
}


@media (min-width: 320px) and (max-width: 480px) {
    nav .nav {
        display: none;
    }

    .mobile {
        display: block;
    }

    .mobile-nav {
        box-shadow: 0px 6px 12px #0052E01A;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
    }

    .small-logo {
        padding: 9px 0 11px 15px;
    }

    .hamburger-menu {
        background: transparent url('img/Icons-Menu.svg') 0% 0% no-repeat padding-box;
        width: 30px;
        height: 30px;
        margin: 15px
    }

    .users-section h1{
        font-size: 28px;
    }

    .users-section .amount svg {
        width: 31px;
        height: 22px;
        left: 6px;
        top: 0;
    }

    .number {
        font-size: 53px;
    }

    .bold-heading {
        margin-top: 30px;
    }

    .bold-text {
        font-size: 14px;
    }

    .search {
        width: 100%;
        position: relative;
        height: fit-content;
        padding-top: 30px;
    }


    .search .first-row{
        height: 98px;
     }
    .search .second-row{
        background: #377DFF;
        padding-top: 13px;

    }

    .search .second-row h2 {
        text-align: center;
        color: #ffffff;
        font-size: 26px;
        line-height: 32px;
    }

    .search .illustration-image{
        position: absolute;
        top: 30px;
        height: 195px;

    }

    .search .video-text {
        top: 44px;
    } 
.search .video-container svg {
    top: calc(44% + 44px);
    }

    .search .last-img{
        height: 57px;
    }


    .desktop{
        display: none;
    }

    .video-text {
        width: 100%;
    }

    .video-play-button {
        width: 32px;
        height: 23px;
    }

    .note-section {
        padding-top: 20px;
        flex-direction: column;
        margin: unset;
    }

    .design-pro {
        padding: unset;
        margin: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .design-pro h1 {
        font-size: 26px;
        text-align: center;
    }

    .design-pro p {
        text-align: center;
        font-size: 14px;
    }

    .note-img img{
        width: 222px;
        height: 202px;
        margin-top: 20px;
    }

    .title h1{
        font-size: 26px;
    }

    .animation-section {
        margin-top: 59px;
    }
    .animation-section h1.mobile  {
        color:#545F7E;
    }

    .images {
        overflow: hidden;
    }

    .images .image {
        height: 90px;
    }
    .images .image  img{
        height: 100%;
        width: 170%;

    }



    .designs {
        margin: unset;
        padding: unset;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .direction {
        margin-top: 30px;
        align-items: center;

    }

    .design-title {
        padding: unset;
        margin-top: 15px;
    }

    .algorithms {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 30px;

    }

    .algorithms .img img{
        width: 301px;
        height: 144px;
    }

    .effective {
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }

    .effective .img img {
        width: 100%;
        height: 213px;
        margin: unset;
    }

    .effective h1 {
        text-align: center;
    }

    .effective p {
        text-align: center;
        margin-bottom: 30px;
    }

    .top-list {
        padding-top:30px;
    }

    .top-list p {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
    }

    .top-list-illustration {
        display: none;
    }

    .products {
        flex-direction: column;
        align-items: center;
    }

    .products div {
        margin: unset;
    }

    .canvas {
        flex-direction: column-reverse;

    }
    .canvas .img{
        margin: unset;

    }
}
